.course-according-bar-entire-div {
    overflow: hidden;
    border: 1px solid #424854;
    background-color: #2C333F;
    color: #F1F2FF;
}

.course-according-bar-third-div {
    display: flex;
    cursor: pointer;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5rem 1.75rem;
    opacity: 0.2;
    transition: all 0.3s;
    background-color: rgba(44, 51, 63, 0.2);
}

.course-according-bar-forth-div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.course-according-bar-rotate {
    transform: rotate(180deg);
}

.course-according-not-rotate {
    transform: rotate(0deg);
}

.course-according-bar-fifth-div {
    display: flex;
}

.course-according-bar-fifth-div>*:not(:last-child) {
    margin-right: 1rem;
}

.course-according-bar-first-span {
    color: #FFE83D;
}

.course-according-bar-sixth-div {
    position: relative;
    height: 0;
    overflow: hidden;
    background-color: #000814;
    transition: height 0.35s ease;
}

.course-according-bar-seventh-div {
    color: #E7C6FF;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem 1.75rem;
    font-weight: 600;
}

@media (max-width:400px){
    .course-according-bar-third-div{
        padding: 1.5rem 0.5rem;
    }
    .course-according-bar-seventh-div {
        padding: 1.5rem 0.5rem;
    }
}