.settings-heading {
    margin-bottom: 56px;
    font-size: xx-large;
    font-weight: 500;
    color: #F1F2FF;
}

.setting-first-div {
    background-color: #000814;
    min-height: calc(100vh - 3.53rem);
}

.setting-second-div {
    width: 80%;
    margin: auto;
    padding: 32px 0 40px 0;
}

@media (max-width:775px) {
    .setting-second-div {
        padding-top: 48px;
    }

    .setting-second-div {
        width: 90%;
    }
}