.edit-profile-first-div {
    width: 100%;
    background: #161D29;
    border: 1px solid #2C333F;
    border-radius: 12px;
    margin-top: 40px;
    padding: 24px 0 24px 0;
    
}

.edit-profile-alignment {
    width: 90%;
    margin: auto;
}

.edit-profile-heading {
    color: #f1f2ff;
    font-size: x-large;
    margin-bottom: 40px;
}

.edit-profile-second-div {
    display: flex;
    flex-direction: row;
    gap: 56px;
    margin-bottom: 40px;
}

.edit-profile-third-div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.edit-profile-label {
    color: #f1f2ff;
}

.edit-profile-input {
    height: 40px;
    width: 24vw;
    font-size: large;
    padding: 4px 8px;
    border-radius: 12px;
    border: none;
    background-color: #2C333F;
    color: #f1f2ff;
    box-shadow: 0px 2px 4px -1px white;
}



.edit-profile-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    justify-content: end;
    gap: 24px;
}

.edit-profile-cancel-button {
    padding: 0 16px;
    font-size: large;
    border-radius: 8px;
    border: none;
    background: #2C333F;
    color: #f1f2ff;
    cursor: pointer;
}

.warning-span{
    margin-top: 4px;
    color: red;
    font-size: 12px;
}


@media (max-width:1126px) {
    .edit-profile-first-div {
        overflow-x: hidden;
    }
    .edit-profile-input {
        width: 23vw;
    }
}

@media (max-width:1017px) {
    .edit-profile-input {
        width: 22vw;
    }

    .edit-profile-second-div {
        gap: 40px;
    }
}

@media (max-width:961px) {
    .edit-profile-input {
        width: 21vw;
    }

    .edit-profile-second-div {
        gap: 24px;
    }
}

@media (max-width:788px) {
    .edit-profile-input {
        width: 30vw;
    }

    .edit-profile-second-div {
        gap: 48px;
    }
}

@media (max-width:454px){
    .edit-profile-second-div {
        flex-direction: column;
        
    }

    .edit-profile-input {
        width: 70vw;
    }
}